.App {
  text-align: center;
}

.coinLogos {
  width: 6rem;
  padding-bottom: .5rem;
}

h1 {
  font-family: 'Courier New', Courier, monospace;
  margin: 1rem;
  font-size: 5rem;
  text-shadow: black 1px 1px;
  color: burlywood;
}

p {
  margin: .1rem;
}

.coinContainer {
  border: 1px solid grey;
  border-radius: 5em;
  margin-left: 30%;
  margin-right: 30%;
  margin-bottom: 2rem;
  padding-bottom: .5rem;
  padding-top: .5rem;
  background-color:papayawhip
}